{{define "base"}}<!DOCTYPE HTML>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/assets/fun.v1/css/github.logo.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
<div class="container">

	<!--ROSTO-->
	<div class="github-rosto">

		<!--ORELHA ESQUERDA-->
		<div class="github-orelha orelha-esquerda"></div>
		<!--ORELHA DIREITA-->
		<div class="github-orelha orelha-direita"></div>

			<!--FUNDO OLHOS-->
			<div class="github-olhos">
				
				<!--OLHO ESQUERDO-->
				<div class="olhos olho-esquerdo"></div>
				<!--OLHO DIREITO-->
				<div class="olhos olho-direito"></div>

					<!--nariz-->
					<div class="github-nariz"></div>

						<!--BOCA-->
						<div class="github-boca"></div>



			</div>

				<!--BIGODE ESQUERDO CIMA-->
				<div class="github-bigode bigode-esquerdo-cima"></div>
				<!--BIGODE ESQUERDO BAIXO-->
				<div class="github-bigode bigode-esquerdo-baixo"></div>
				<!--BIGODE DIREITO CIMA-->
				<div class="github-bigode bigode-direito-cima"></div>
				<!--BIGODE DIREITO BAIXO-->
				<div class="github-bigode bigode-direito-baixo"></div>

		</div>
	</div>
	</body>
</html>

{{end}}