{{define "body"}}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//Custom Theme files -->
<link href="/assets/core.v1/css/notfound.css" rel="stylesheet" type="text/css" media="all" />
	<!-- main -->
	<div class="main">
		<div class="error-page">
			<h1>404<br>ERROR</h1>
			<p>PAGE NOT FOUND</p>
		</div>	
	</div>
	<!--//main -->
	<div class="copyright">
		<p> &copy; 2015 Purple 404 Error page . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>
{{end}}