{{define "base"}}<!DOCTYPE HTML>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/fun.v1/css/goofy.characters.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
<div id="fb-root"></div>
    <div id="goofy-bg">
        <div id="goofy">
            <div class="face-right">
            </div>
            <section class="cap-wrapper">
                <div class="cap-bottom">
                </div>
                <div class="cap-middle">
                </div>
                <div class="cap-middle-top">
                </div>
                <div class="cap-band">
                </div>
                <div class="cap-top-right">
                </div>
                <div class="cap-top-left">
                </div>
                <div class="hair-1">
                </div>
                <div class="hair-2">
                </div>
                <div class="hair-3">
                </div>
            </section>
            <section class="collar-wrapper">
                <div class="collar-bottom">
                </div>
                <div class="collar-top">
                </div>
            </section>
            <section class="neck-wrapper">
                <div class="neck">
                </div>
            </section>
            <section class="eye-wrapper">
                <div class="eye-right">
                </div>
                <div class="eye-left">
                </div>
                <div class="eye-stripe">
                </div>
            </section>
            <section class="cheek-wrapper">
                <div class="cheek-top">
                </div>
            </section>
            <div class="cheek-fix">
            </div>
            <section class="chin-wrapper">
                <div class="chin-bottom">
                </div>
                <div class="chin-top">
                </div>
            </section>
            <section class="mouth-wrapper">
                <div class="mouth">
                </div>
                <div class="tongue">
                    <div class="tongue-right">
                    </div>
                </div>
            </section>
            <section class="nose-wrapper">
                <div class="nose-bottom-2">
                </div>
                <div class="nose-bottom-wrapper">
                    <div class="nose-bottom">
                    </div>
                </div>
                <div class="nose-top-1">
                </div>
                <div class="nose-top-2">
                </div>
                <div class="nose-top-3">
                </div>
                <div class="main-nose">
                </div>
            </section>
            <div class="cheek-mouth">
            </div>
            <section class="teeth-wrapper">
                <div class="tooth-left">
                </div>
                <div class="tooth-right">
                </div>
            </section>
            <section class="ear-wrapper">
                <div class="ear">
                </div>
            </section>
        </div>
    </div>
</body>
</html>
{{end}}
