{{define "base"}}<!DOCTYPE HTML>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/fun.v1/css/homer2.characters.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
	<div class="container">
		<div id="homer">
	    <div class="body">
	      <div class="head">
	        <div class="eyebrows">
	          <div class="eyebrow"></div>
	          <div class="eyebrow"></div>
	        </div>
	        <div class="eyes">
	          <div class="eye"><div class="iris"></div></div>
	          <div class="eye"><div class="iris"></div></div>
	        </div>
	        <div class="nose"></div>
	        <div class="beard">
	          <div class="mouth"></div>
	          <div class="chin"></div>
	        </div>
	      </div>
	      <div class="ears">
	        <div class="ear"></div>
	        <div class="ear"></div>
	      </div>
	      <div class="hair"><div></div></div>
	    </div>
	  </div>
  	</div>
  </body>
</html>
{{end}}