{{define "base"}}<!DOCTYPE HTML>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/fun.v1/css/ralph.characters.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/assets/fun.v1/css/normalize.css">
</head>
<body>
    
    <div id="ralph-wiggum">
	<div class="head">
	    
	    <div class="body head1"></div>
	    <div class="no-border body head2"></div>
	    <div class="hair hair-left hair1"></div>
	    <div class="hair hair-left hair2"></div>
	    <div class="hair hair-left hair3"></div>
	    <div class="hair hair-left hair4"></div>
	    <div class="hair hair-left hair5"></div>
	    <div class="hair hair-left hair6"></div>
	    <div class="hair hair-left hair7"></div>
	    <div class="hair hair-right hair8"></div>
	    <div class="hair hair-right hair9"></div>
	    <div class="hair hair-right hair10"></div>
	    <div class="hair hair-right hair11"></div>
	    <div class="hair hair-right hair12"></div>
	    
	    <div class="body ear">
		<div class="inner1"></div>
		<div class="inner2"></div>
		<div class="no-border body clip"></div>
	    </div>
	    
	    <div class="no-border body mouth5"></div>
	    <div class="body mouth1"></div>
	    <div class="no-border body mouth2"></div>
	    <div class="no-border body mouth3"></div>
	    <div class="no-border body mouth4"></div>
	    
	    <div class="left-eye eye">
		<div class="no-border pupil"></div>
	    </div>
	    
	    <div class="right-eye eye">
		<div class="no-border pupil"></div>
	    </div>
	    
	    <div class="body nose"></div>
	</div>
    </div>
    
</body>
</html>
{{end}}